<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#message}}
    {{message}}
{{/message}}
<form action="/auth/login" method="post">
    <div class="container">
        <h1>Войти</h1>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <hr>
        <label for="username"><b>Логин</b></label>
        <input type="text" placeholder="Введите логин" name="username" id="username" required>
        <br>
        <label for="password"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="password" id="password" required>
        <hr>

        <button type="submit" class="registerbtn">Войти</button>
    </div>

    <div class="container signin">
        <a href="/auth/register">Зарегистрироваться</a>
    </div>
</form>
</body>
</html>