<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VSU Helper Студента</title>
</head>
<body>
    <b>Hello, {{h1}}</b>
    <br>
    <a href="/auth/login">Войти</a>
    <a href="/words/">Слова</a>
</body>
</html>