<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VSU Helper Студента</title>
</head>

<body>
{{#message}}
    {{message}}
{{/message}}
    <form action="/auth/register" method="post">
        <div class="container">
            <h1>Регистрация</h1>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <hr>
            <label for="surname"><b>Фамилия</b></label>
            <input type="text" placeholder="Введите фамилию" value="" name="surname" id="surname" required>
            <br>
            <label for="name"><b>Имя</b></label>
            <input type="text" placeholder="Введите имя" name="name" id="name" required>
            <br>
            <label for="username"><b>Логин</b></label>
            <input type="text" placeholder="Введите логин" name="username" id="username" required>
            <br>
            <label for="password"><b>Пароль</b></label>
            <input type="password" placeholder="Введите пароль" name="password" id="password" required>
            <br>
            <label for="passwordRepeat"><b>Повторите пароль</b></label>
            <input type="password" placeholder="Повторите пароль" name="passwordRepeat" id="passwordRepeat" required>
            <hr>

            <button type="submit" class="registerbtn">Зарегистрироваться</button>
        </div>

        <div class="container signin">
            <p>Уже есть аккаунт <a href="/auth/login">Войти</a>.</p>
        </div>
    </form>
</body>
</html>